@import "$theme";

.button {
    @extend .has-shadow;
    @extend .has-round-border;

    background-color: $color-background;
    cursor: pointer;
    display: inline-block;
    margin: $spacing-rel--2 $spacing-rel--4;
    padding: $spacing-rel--2 $spacing-rel--4;
    text-align: center;
    width: auto;
    user-select: none;

    &:hover {
        filter: brightness(105%) drop-shadow($shadow-spacing-x $shadow-spacing-y $shadow-blur-radius $color-shadow);
        box-shadow: none;
    }

    &.primary {
        background-color: $color-primary;
    }
}
