.palette-editor {
    display: flex;
    justify-content: space-around;
    user-select: none;

    .color-wheel-container {
        width: 25%;
    }

    .swatch-book-container {
        width: 65%;
    }

    .option-buttons-container {
        display: flex;
        justify-content: space-between;
    }
}
