/*
    # Palette

    Palette definitions. This module directly builds on the *color* module and defines
    specialized role->color mappings.
*/

// TODO: Transfer these to a color definition module / Get meaningful color values
$color-primary: #99ff99; // Primary action
$color-background: #ddd; // Default background color
$color-shadow: #dbdee3;
