/*
    # Shadows

    Shadow definitions. Both a mixin and a class are provided. Class usage should be preferred.
*/
$shadow-blur-radius: $spacing-rel--1;
$shadow-spacing-x: $spacing-rel--1 / 2;
$shadow-spacing-y: $shadow-spacing-x;

@mixin mx-has-shadow {
    box-shadow: $shadow-spacing-x $shadow-spacing-y $shadow-blur-radius $color-shadow;
}

.has-shadow { @include mx-has-shadow; }
