/*
    # Spacing

    Spacing is organized into *weights*, each of which is a multiple of the *base spacing weight*.
    Spacing variables are introduced by the *spacing* prefix, followed by their *category* and
    specialized by their weight suffix.


    ## Categories

    The following spacing categories exist:
    * Absolute, expressed as *mm*
    * Relative, expressed as *rem*


    ## Weights

    Weights are expressed as absolute integers and represent the relative amount of spacing with
    regards to the *base spacing weight*, which is weight 1.


    ## Examples

    `$spacing-abs--1` refers to a spacing variable of "absolute" category and weight 1, the
    "base spacing weight" for the category.

    `$spacing-rel--3` refers to a spacing variable of "relative" category and weight 3, which
    mathematically is the same as `$spacing-rel--1 * 3`.
*/

// Absolute spacing
$spacing-abs--1: 2.5mm;
$spacing-abs--2: $spacing-abs--1 * 2;
$spacing-abs--3: $spacing-abs--1 * 3;
$spacing-abs--4: $spacing-abs--1 * 4;

// Relative spacing
$spacing-rel--1: .25rem;
$spacing-rel--2: $spacing-rel--1 * 2;
$spacing-rel--3: $spacing-rel--1 * 3;
$spacing-rel--4: $spacing-rel--1 * 4;
