@import "$theme";

.swatch {
    @extend .has-round-border;
    @extend .has-shadow;

    $swatch-width: 4rem;
    $swatch-height: $swatch-width;

    display: flex;
    flex-direction: column;
    width: $swatch-width;
    height: $swatch-height;
    font-size: .8rem;
    cursor: pointer;
    user-select: text;

    .swatch-internal {
        vertical-align: bottom;
    }

    .swatch-label {
        text-align: center;
        padding: $spacing-rel--1;
        background-color: #fffa;
        cursor: text;
    }

    .swatch-delete {
        visibility: hidden;
        text-align: right;
        padding: $spacing-rel--1;
    }

    .swatch-delete-icon {
        opacity: .5;

        &:hover {
            opacity: 1;
        }
    }

    .spacer {
        flex-grow: 1;
    }

    &:hover {
        filter: brightness(125%) drop-shadow($shadow-spacing-x $shadow-spacing-y $shadow-blur-radius $color-shadow);
        box-shadow: none;

        .swatch-delete {
            visibility: visible;
        }
    }

    &.primary {
        width: $swatch-width * 2;
        height: $swatch-height * 2;
    }

    &.selected {
        /* TODO: Change following color with primary action color */
        filter: drop-shadow($shadow-spacing-x $shadow-spacing-y $shadow-blur-radius red);
        box-shadow: none;
    }
}
