@import "$theme";

.slider {
    @extend .has-round-border;
    @extend .has-shadow;

    $slider-background-color: #ccc;

    width: 100%;
    height: 2rem;
    user-select: none;

    .border {
        fill: $slider-background-color;
    }

    .handle {
        fill: darken($slider-background-color, 30%);

        .grip {
            fill: darken($slider-background-color, 40%);
        }
    }
}
